<!-- views/partials/footer.ejs -->
 
<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Mental Health Support System</h5>
                <p class="small">Providing confidential, accessible mental health support for students in higher education.</p>
            </div>
            <div class="col-md-4">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/resources" class="text-light">Resources</a></li>
                    <li><a href="/forum" class="text-light">Community</a></li>
                    <li><a href="/chat" class="text-light">Get Help</a></li>
                    <li><a href="/about" class="text-light">About</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>Emergency Contacts</h6>
                <ul class="list-unstyled small">
                    <li><i class="fas fa-phone"></i> Crisis Helpline: 1860-2662-345</li>
                    <li><i class="fas fa-envelope"></i> counseling@college.edu</li>
                    <li><i class="fas fa-map-marker-alt"></i> Counseling Center</li>
                </ul>
            </div>
        </div>
        <hr class="border-light">
        <div class="text-center">
            <small>&copy; 2025 Mental Health Support System. All rights reserved. | <a href="/privacy" class="text-light">Privacy Policy</a></small>
        </div>
    </div>
</footer>
